
  .form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #7360bf;
    box-shadow: 0 0 5px rgba(115, 96, 191, 0.5);
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 14px;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: rgb(21, 88, 232);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #38689b;
    transform: translateY(-2px);
  }
  
  .submit-button:active {
    background-color: #2d296b; /* Darker shade for active state */
  }
  